<div>
    <h1>Hello, {{recipient}}!</h1>
    <p>{{message}}</p>
    <p>Counter: {{counter}}</p>

    <div>
        <input type="text" s-bind="message" />
    </div>

    <br>

    <button s-click="incrementCounter()">Fire Event</button>

    <ul>
        <li s-for="item in items" s-click="itemClicked(item)">
            <span>{{item.name}}</span>
            <span>{{item.description}}</span>
        </li>
    </ul>

    <ul>
        <li><a s-ref="/">Myself</a></li>
        <li><a s-ref="/binding-example">Binding</a></li>
    </ul>
</div>